@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

/*RESET*/
html, header, footer, body, ul, li, div, button, p,  h1, h2 {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-family: inherit;
  text-align: inherit;
}

/* Makes the sample page fill the window. */
html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

div.title {
  margin-left: 20px;
}

ul.data-layers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}

ul.data-layers li {
  padding-right: 10px;
}

section.main-content {
  height: 75%;
  padding: 0 40px 0 40px;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: solid 2px indianred;
}

#map > * {
  z-index: 1;
}

#incomeButton {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 15px;
  font-weight: bold;
  color: black;
  background: white;
}
#rentButton {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 15px;
  font-weight: bold;
  color: black;
  background: white;
}

button:hover {
  cursor: pointer;
}

#data {
    overflow: scroll;
    height: 100%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

footer {
  margin-top: 20px;
}

ul.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul.icons li {
  font-size: 30px;
  text-decoration: none;
  padding: 5px;
}

ul.icons li a i {
  color: black;
}
